<h1>Estudantes</h1>
<input type="text"
 placeholder="Filtrar por nome ou matrícula"
  [(ngModel)]="filterText"
   (input)="filterStudents()"
    />
<div class="students-container">
  <div class="student-card"
   *ngFor="let student of filteredStudents"
   (click)="goToStudentProfile(student.id)"
   >
    <h3>{{ student.nome }}</h3>
    <p>matrícula: {{ student.id }}</p>
    <p>curso: {{ student.curso }}</p>
    <p>modalidade: {{ student.modalidade }}</p>
    <p>status: {{ student.status }}</p>
  </div>
</div>
